:root {
    --red: #E52472;
    --dark-red: #BB1055;
    --white: #ffffff;
    --light-gray: #fcfcfc;
    --dark: #0F0A2A;
    --dark-2: #362d69;
    --light-blue: #87bafd;
    --light-blue-2: #5f8cc6;
    --gray: #F2F2F2;
    --background-gray: #ECECEC;
    --dark-gray: #BDBDBD;
    --image-blue: #CEE2FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--light-gray);
}

h1 {
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
}

h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--dark);
}

h3 {
    font-weight: 700;
    font-size: 20px;
    color: var(--dark);
}

.header {
    position: relative;
    width: 100%;
    height: 12vh;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-screen {
    position: relative;
    width: 100%;
    height: 88vh;
    background-color: var(--background-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}


.total-content {
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: space-between;
}

.navigation-content {
    width: 20%;
}

.user-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10vh;

    h2 {
        margin-left: 1vw;
    }
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.row {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vh;
}

.row-button {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 4vh;
}

.navigation-buttons {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    text-align: start;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s ease;
}

.button-primary {
    background-color: var(--light-blue);
    color: var(--white);
    display: flex;
    gap: 1vw;

    img {
        transition: 0.4s ease;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg) brightness(101%) contrast(100%);
    }
    
}

.button-secondary {
    background-color: transparent;
    outline: 2px solid var(--white);
    outline-offset: -2px;
    color: var(--white);

    img {
        transition: 0.4s ease;
        margin-right: 0.5vw;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg) brightness(101%) contrast(100%);
    }
}

.button-tertiary {
    background-color: var(--dark);
    color: var(--white)
}

.button-primary:hover,
.button-secondary:hover,
.button-tertiary:hover {
    transition: 0.4s ease;
    background-color: var(--white);
    color: var(--red);

    img {
        transition: 0.4s ease;
        filter: brightness(0) saturate(100%) invert(29%) sepia(69%) saturate(4238%) hue-rotate(320deg) brightness(91%) contrast(98%);
    }

}

.button-navigation {
    transition: 0.4s ease;
    background-color: var(--white);
    display: flex;
    align-items: center;

    img {
        margin-right: 1vw;
        filter: brightness(0) saturate(100%) invert(29%) sepia(69%) saturate(4238%) hue-rotate(320deg) brightness(91%) contrast(98%);
    }
    h3 {
        color: var(--dark);
    }
}

.button-navigation-active {
    background-color: var(--red);
    display: flex;
    align-items: center;

    img {
        margin-right: 1vw;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg) brightness(101%) contrast(100%);
    }

    h3 {
        color: var(--white);
    }
}

.button-navigation:hover {
    transition: 0.4s ease;
    background-color: var(--dark-gray); 
    

    img {
        margin-right: 1vw;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg) brightness(101%) contrast(100%);
    }

    h3 {
        color: var(--white);
    }

    }
    

.textbox-1 {
    margin-left: 2vw;
    width: 20vw;
}

.textbox-2 {
    margin-left: 2vw;
    width: 13vw;
}

.textbox-3 {
    margin-left: 2vw;
    width: 5vw;
}

.input-group {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-left: 8px;
    margin-bottom: 6px;
    font-size: 12px;
    color: var(--dark-2);
  }

  input {
    padding: 12px 16px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--dark);
    transition: box-shadow 0.3s ease;   
  }

  input::placeholder {
    color: var(--dark-gray);
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--light-blue);
  }