:root {
  --red: #E52472;
  --dark-red: #BB1055;
  --white: #ffffff;
  --light-gray: #fcfcfc;
  --dark: #0F0A2A;
  --light-blue: #87bafd;
  --light-blue-2: #5f8cc6;
  --gray: #F2F2F2;
  --image-blue: #CEE2FF;

  /* --shadow: 2px 2px 10px #353535; */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--light-gray);
}

h1 {
  font-weight: 900;
  font-size: 80px;
  color: var(--red);
}

h2 {
  font-weight: 500;
  font-size: 80px;
  color: var(--dark);
}

h3 {
  font-weight: 500;
  font-size: 48px;
}

h4 {
  font-weight: 300;
  font-size: 36px;
}

p {
  font-weight: 300;
  font-size: 20px;
}

a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
  transition: 0.4s ease;
}

a:hover {
  color: var(--light-blue);
  transition: 0.4s ease;
}

.header {
  position: fixed;
  width: 100%;
  height: 12vh;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.links {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1vw;
  width: 30%;
}

button {
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
}

.button-primary {
  background-color: var(--light-blue);
  color: var(--white)
}

.button-secondary {
  background-color: transparent;
  outline: 2px solid var(--white);
  outline-offset: -2px;
  color: var(--white)
}

.button-tertiary {
  background-color: var(--dark);
  color: var(--white)
}

.button-primary:hover,
.button-secondary:hover,
.button-tertiary:hover {
  transition: 0.4s ease;
  background-color: var(--white);
  color: var(--red);
}

.banner {
  width: 100%;
  height: 800px;
  position: relative;
  top: 12vh;
  background-image: url('../assets/banner-dog.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  border-radius: 0px 0px 200px 0px;
}

.content-banner {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: flex-start;

  .buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 2vh;
  }
}

.titulo-banner {
  width: 90%;
}

.titulo-services {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 12vh;
}

/* .service-container {
    position: absolute;
    width: 100%;
    height: 629px;
    top: 618px;
    left: 17px;
    background-image: url(../assets/tab-services.png);
    background-size: 100% 100%;
  } */
/* .service-container {
    position: absolute;
    width: 1440px;
    height: 347px;
    top: 900px;
    left: 17px;
    background-color: #bb0f54;
    
  }

  .service-container .tab-services {
    position: absolute;
    width: 1440px;
    height: 629px;
    top: 618px;
    left: 17px;
    background-image: url(../assets/tab-services.png);
  } */

.container-service {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 850px;
  left: 20px;
}


.rectangle {
  position: absolute;
  width: 100%;
  height: 347px;
  top: 1000px;
  left: 0px;
  background-color: #bb0f54;
}

.tab-services {
  position: absolute;
  width: 100%;
  height: 450px;
  top: 900px;
  left: 0px;
  background-repeat: no-repeat;
  background-image: url(../assets/tab-services.png);
}



.container-service .services {
  position: relative;
  width: 100%;
  /* height: 509px; */
  top: 45px;
  /* left: 17px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--light-gray);
  /* background-image: url(../assets/tab-services.png);  */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  /* border-radius: 0px 0px 200px 0px; */
}



.container-service .services .cards {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.card-service {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 4vb;
  gap: 4vh;
  border-radius: 20px;
  justify-content: center;
  align-items: center;

  button {
    width: 50%;
  }
}

.image-card {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 6vw;
  max-height: 12vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-image {
  background-color: var(--image-blue);
  border-radius: 5px;
  width: 5vw;
  height: 10vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-service .services .titulo-services .pata-services {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 130px;
}

.about-image {
  position: absolute;
  width: 318px;
  height: 194px;
  top: 0;
  left: 675px;
  background-color: #fffef6;
  border-radius: 25px;
}

.about-image .mask-group {
  position: absolute;
  width: 300px;
  height: 180px;
  top: 7px;
  left: 9px;
}

.sobre-container {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 1347px;
  left: 0;
  background-image: url(../assets/tab-about.png);
  background-size: 100% 100%;
}


.sobre-container .about-content {
  position: relative;
  width: 997px;
  height: 288px;
  top: 120px;
  left: 262px;
}

.sobre-container .about-content .descricao {
  position: absolute;
  width: 532px;
  top: 142px;
  left: 0;
  font-family: "Figtree-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sobre-container .about-content .endereco {
  position: absolute;
  width: 398px;
  top: 216px;
  left: 581px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

/* .sobre-container .about-content .about-image {
    position: absolute;
    width: 318px;
    height: 194px;
    top: 0;
    left: 675px;
    background-color: #fffef6;
    border-radius: 25px;
  }

  .sobre-container .about-content .mask-group {
    position: absolute;
    width: 300px;
    height: 180px;
    top: 7px;
    left: 9px;
  } */

.sobre-container .about-content .about-image .about-title {
  position: absolute;
  width: 235px;
  height: 75px;
  top: 0px;
  left: 0px;
}

.sobre-container .about-content .about-title .text-sobre {
  top: 17px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 0;
}

.sobre-container .about-content .about-title .pata-sobre {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 110px;
}

.time-container {
  position: absolute;
  width: 100%;
  height: 833px;
  top: 1897px;
  left: 0;
}

.time-container .rectangle-33 {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0px;
  left: 0px;
  background-color: #bb0f54;
}

.time-container .img-2 {
  position: absolute;
  width: 100%;
  height: 620px;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-image: url(../assets/tab-team.png);
}

.time-container .team-content {
  position: absolute;
  width: 996px;
  height: 394px;
  top: 137px;
  left: 234px;
}


.time-container .team-content .overlap-9 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-13 {
  position: absolute;
  top: 135px;
  left: 83px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: #e52472;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content .mask-group-wrapper {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 20px;
  left: 52px;
  background-color: #ffffff;
  border-radius: 15px;
}

.time-container .team-content .img-equipe-1 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-10 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 214px;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-14 {
  left: 78px;
  color: #0f0a2a;
  position: absolute;
  top: 135px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content.img-wrapper {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 23px;
  left: 52px;
  background-color: #ffffff;
  border-radius: 15px;
}

.time-container .team-content .img-equipe-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-11 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 0;
  left: 242px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-15 {
  position: absolute;
  top: 135px;
  left: 70px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: #0f0a2a;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content .img-equipe-3 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-12 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 0;
  left: 484px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-16 {
  left: 73px;
  color: #e52472;
  position: absolute;
  top: 135px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content .img-equipe-4 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-13 {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 20px;
  left: 53px;
  background-color: #ffffff;
  border-radius: 15px;
}

.time-container .team-content .img-equipe-5 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-14 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 214px;
  left: 484px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-17 {
  left: 79px;
  color: #0f0a2a;
  position: absolute;
  top: 135px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content .img-equipe-6 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 7px;
  left: 7px;
  background-image: url(../assets/mask-group-5.png);
}

.time-container .team-content .overlap-15 {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 23px;
  left: 53px;
  background-color: #ffffff;
  border-radius: 15px;
}

.time-container .team-content .overlap-16 {
  position: absolute;
  width: 209px;
  height: 180px;
  top: 214px;
  left: 242px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.time-container .team-content .text-wrapper-18 {
  left: 76px;
  color: #e52472;
  position: absolute;
  top: 135px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.time-container .team-content .team-title {
  position: absolute;
  width: 154px;
  height: 76px;
  top: 150px;
  left: 832px;
}

.time-container .team-content .overlap-group-3 {
  position: relative;
  width: 152px;
  height: 76px;
}

.time-container .team-content .text-wrapper-19 {
  top: 18px;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: #0f0a2a;
  font-size: 48px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 0;
}

.desktop .pata-equipe {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 115px;
}

.footer-content {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 2600px;
  left: 0px;
  background-color: #0F0A2A;
  align-items: center;

}

.footer-content .contact-content {
  position: absolute;
  width: 276px;
  height: 117px;
  top: 40px;
  left: 540px;
  
}

.footer-content .contact-content .mail {
  position: absolute;
  width: 276px;
  height: 24px;
  top: 93px;
  left: 0;
}

.footer-content .contact-content .text-contact {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Figtree-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer-content .contact-content .mail-icon {
  position: absolute;
  width: 25px;
  height: 16px;
  top: 4px;
  left: 251px;
  background-image: url(../assets/insta-icon.png);
}

.footer-content .contact-content .insta {
  position: absolute;
  width: 182px;
  height: 25px;
  top: 48px;
  left: 94px;
}

.footer-content .contact-content .insta-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 157px;
  background-image: url(../assets/insta-icon.png);
}

.footer-content .contact-content .tell {
  position: absolute;
  width: 170px;
  height: 24px;
  top: 0;
  left: 103px;
}

.footer-content .contact-content .tell-icon {
  position: absolute;
  width: 19px;
  height: 23px;
  top: 0;
  left: 151px;
  background-image: url(../assets/insta-icon.png);
}

.footer-content .navigation-links {
  position: absolute;
  width: 76px;
  height: 145px;
  top: 30px;
  left: 50px;
}

.footer-content .navigation-links .contato {
  width: 60px;
  height: 19px;
  top: 126px;
  position: absolute;
  left: 0;
}

.footer-content .navigation-links .text-links {
  top: 0px;
  font-family: "Figtree-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  left: 0;
}

.footer-content .navigation-links .equipe {
  width: 50px;
  height: 19px;
  top: 84px;
  position: absolute;
  left: 0;
}

.footer-content .navigation-links .servios {
  width: 62px;
  height: 19px;
  top: 0;
  position: absolute;
  left: 0;
}

.footer-content .navigation-links .sobre-ns {
  width: 76px;
  height: 19px;
  top: 42px;
  position: absolute;
  left: 0;
}